body {
  font-family: 'Open Sans' , sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/**********************************************************/
/* LOG IN */
/**********************************************************/

.wrap {
  background-color: ;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

p.form-title {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 4px;
}

form {
  width: 100%;
  margin: 0 auto;
}

form.login input[type="email"], form.login input[type="password"], form.login input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0 !important;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
  text-align: center;
}

form.login input[type="submit"] {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

form.login input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}

.signup {
  display: block;
  width: 100%;
	margin: 10% auto;
}

/**********************************************************/
/* WELCOME PAGE */
/**********************************************************/

.welcome {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 6px;
  margin-top: 7%;
  margin-bottom: 5%;
}

h1.welcome {
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
}

h3.welcome {
  font-size: 2em;
  font-weight: 600;
}

.form-center {
  width: 49%;
  margin: 0 auto;
}

textarea.form-control {
  height: 200px;
  background: url('http://i.stack.imgur.com/ynxjD.png') repeat;
  background-position: center;
  font: normal 14px verdana;
  line-height: 25px;
  padding: 11px 10px;
  border: solid 1px #ddd;
}

.characters {
  display: block;
  width: 48%;
  margin: -1.5% auto;
  text-align: right;
}

.post-submit {
  display: block;
  margin: 30px auto;
}

/**********************************************************/
/* NAV */
/**********************************************************/

nav {
  height: 40px;
  font-weight: bold;
}

nav ul {
  float: right;
  display: inline-block;
  text-align: right;
}

.auth {
  color: #FFFFFF;
  opacity: 0.7;
  margin: 7px;
  float: right;
  background: 0;
  border: none;
}

.auth:hover {
  opacity: 1;
  transition: opacity 1s ease;
}