body {
  font-family: 'Open Sans' , sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
  height: 100%;
}

html,body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/**********************************************************/
/* LOG IN */
/**********************************************************/

.wrap {
  background-color: ;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

p.form-title {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 4px;
}

form {
  width: 100%;
  margin: 0 auto;
}

form.login {
  width: 15%;
}

form.login input[type="email"], form.login input[type="password"], form.login input[type="text"] {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0 !important;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
  text-align: center;
}

form.login input[type="submit"] {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

form.login input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}

.signup {
  display: block;
  width: 100%;
	margin: 10% auto;
}

/**********************************************************/
/* WELCOME PAGE */
/**********************************************************/

.welcome {
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 6px;
  text-shadow: 0px 0.5px 0.25px rgba(0, 0, 0, 0.2);
}

h1.welcome {
  font-size: 5em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 5%;
}

h3.welcome {
  font-size: 2em;
  font-weight: 600;
  margin: 5% auto;
}

.form-center {
  width: 700px;
  margin: 0 auto;
}

.form-center-entry {
  width: 700px;
  margin: 0 auto;
}

textarea.form-control {
  height: 200px;
  background: url('http://i.stack.imgur.com/ynxjD.png') repeat;
  background-position: center;
  font: normal 14px verdana;
  line-height: 25px;
  padding: 11px 10px;
  border: solid 1px #ddd;
}

.post-submit {
  display: block;
  margin: 30px auto;
}

.post-date {
  color: black;
  font-weight: 800
}

/**********************************************************/
/* NAV */
/**********************************************************/

nav {
  height: 40px;
  font-weight: bold;
}

nav ul li{
  margin: 10px;
  padding: 0 15px;
  display: inline-block;
}

nav ul li:nth-child(1) {
  float: left;
  text-align: left;
}

nav ul li:nth-child(2) {
  color: black;
  float: right;
  text-align: right;
}

#display-posts-button {
  color: white;
}

#display-posts-button:hover {
  color: black;
  transition: 0.4s ease;
}

.auth {
  color: #FFFFFF;
  opacity: 0.7;
  margin: 7px;
  float: right;
  background: 0;
  border: none;
}

.auth:hover {
  color: black;
  transition: 0.4s ease;
}

/**********************************************************/
/* POSTS */
/**********************************************************/

#current-posts {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 3em;
  list-style-type: none;
  color: white;
}

.joy-outer-container {
  width: 100%;
  opacity: 0;
  display:none;
}

.joyContainer {
  width: 900px;
  height: 400px;
  /*margin:;*/
  margin: 0 auto;
  overflow-y: scroll;
}

.header {
  font-weight: 900;
  margin-bottom: 1em;
}

/*.joy {*/
  /*font-size: 2em;*/
/*  overflow: hidden;
  word-wrap: break-word;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 2%;
  border: 5px dashed white;
  border-radius: 12px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);*/
/*}*/

/* =========================================== */
/* INDEX FILTER */
/* =========================================== */

.joyFilter {
  width: 900px;
  font-size: 1.5em;
  display: block;
  text-align: center;
  padding:0 0 6px 0s;
  position:relative;
  margin-top: 3%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:13px;
  border-bottom:1px solid rgb(220,220,220);
  z-index:50;
}

.joyFilter a {
  margin-right: 10px;
  color: black;
  text-decoration:none;
  display: inline;
  padding:5px 10px 4px 10px;
  border-left:1px solid rgb(220,220,220);
  border-top:1px solid rgb(220,220,220);
  border-right:1px solid rgb(220,220,220);
  cursor:pointer;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size:1em;
  font-weight: lighter;
}

.joyFilter a.current {
    background-color:rgb(220,220,220);
}

.joyFilter a:hover {
    background-color: #3399FF;
    border-color: #3399FF;
    color: white;

    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
        -ms-transition-duration: 0.4s;
         -o-transition-duration: 0.4s;
            transition-duration: 0.4s;

}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 3s;
     -moz-transition-duration: 3s;
      -ms-transition-duration: 3s;
       -o-transition-duration: 3s;
          transition-duration: 3s;
}

/*********************************************/
.thumbnail {
  width:250px;
  height:250px;
  overflow: hidden;
  display: inline-block;
  margin: 23px;
  border-radius: 8px;
  background-color:rgba(245, 245, 245, 0.66);
}

.graph {
  margin-left: 50px;
}

a.graph-current {
  background-color: #3399FF;
  border-color: #3399FF;
  color: white;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.graphContainer {
  padding: 15px;
  margin: 0 auto;
  display: none;
  background-color:white;
  border-radius: 8px;
}