<% require 'date' %>

<h1 class="welcome">Welcome, <%= current_user.first_name.capitalize %>.</h1>

<h3 class="welcome">What are you feeling joyful about today?</h3>

<div class="wrapper">
	<link rel="stylesheet" href="/css/notepad.css">
	<form id="post-form" class="paper" action='/posts' method='POST'>
		<p class="margin">Date: <%=Date.today.strftime("%B %e, %Y")%></p>
		<input type="hidden" name="user_id" value="<%= current_user.id %>">
		<textarea class="text message" name="body" rows="4" maxlength="140"></textarea>
		<div class="characters"><p class="countdown"></p></div>
		<input id="post-submit" type="submit" value="Create" class="button" />
	</form>
</div>

<div class="joy-outer-container">
	<h3 class="welcome">Today you're feeling joyful about...</h3>

	<div class="filterContainer">
		<div class="joyFilter" data-option-key="filter">
		    <a data-filter=".today" class="current">Today</a>
		    <a data-filter=".starred">Starred</a>
		    <a data-filter=".thumbnail">All</a>
		    <a class="graph"><span class="glyphicon glyphicon-signal"></span> Metrics</a>
		</div>
	</div>
	<div class="joyContainer"></div>
	<canvas class="graphContainer" width="900" height="400"></canvas>
</div>