<div class="col-md-6 col-sm-6 middle_column signup">
  <p class="form-title">Sign In</p>
  <form autocomplete="off" class="login" action='/sessions' method="post">
    <input type="email" placeholder="Email" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
  </form>
</div>