<% @posts.each do |post| %>
	<div class="joy<%=' starred' if post.starred %><%=' today' if @today.include?(post) %>">
		<h3 class="header"><%= post.body %></h3>
		<p><%= post.created_at.to_time %></p>
	</div>
<% end %>