<div class="col-md-6 col-sm-6 middle_column signup">
  <p class="form-title">Sign Up</p>
  <form class="login" action='/users/new' method="post">
    <input type="text" placeholder="First name" name="first_name">
    <input type="text" placeholder="Last" name="last_name">
    <input type="email" placeholder="Email" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
  </form>
</div>
